task-list
{
  list-style-type: none;
  padding: 0;
  background-color: rgb(231, 161, 215);
  margin: 10px 0;
  height: 100%;
  width: 100%;
}
body
{
  background-image: url(pen.jpg);
  background-size: contain;
  background-repeat: no-repeat;
background-attachment: scroll;
  background-position: center;
 
}